@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply font-body text-text-body bg-secondary-light antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-text-main;
  }
}